body {
    background-color: #18191A;
    scroll-snap-type: x mandatory;
}

section {
    border-right: 1px solid white;
    min-width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    scroll-snap-align: start;
    position: relative;
}

.slider {
    font-family: sans-serif;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    display: flex;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
}

h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    width: 100%;
    left: 0;
    font-size: calc(1rem + 3vw);
  }


#dotContainer{
    display: flex;
    position: fixed;
    width: 30%;
    bottom: 3.3%;
    left:50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    justify-content: space-between;
}

.dot{
    height: 20px;
    width: 20px;
    background-color: #3BBC86;
    opacity: 0.3;
    border-radius: 50%;
}

#dot[name="dotMiddle"]{
    opacity: 1;
}

#blur{
    position: fixed;
    display: none;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0,0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.makeAPostButton{
    visibility: visible;
    position: fixed;
    bottom: 0%;
    right: 0%;
    transform: rotate(45deg);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    background-color: #3BBC86;
    color: #FFFFFF;
    font-size: 20px;
    margin: 5%;
    z-index: 1;
}

#plus{
    display: inline-block;
    transform: rotate(45deg);
    font-weight: 700;
}

#formDiv{
    position: fixed;
    flex-direction: column;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: #77797c;
    font-family: 'Lato', sans-serif;
    display: none;
    margin: auto;
    width: 90%;
    background: #242526;
    border-radius: 10px;
    overflow: hidden;
    z-index: 3;
}

#inputForm{
    box-sizing: border-box;
    display:flex;
    flex-direction:column;
    width: 100%;
    margin:auto;
    font-weight: bold;
    padding: 5%;
}

#postTitleForm{
    background: #3A3B3C;
    border-radius: 10px;
    width:100%;
    height: 2em;
    color: #E4E6EB;
    border:none;
    margin-top:3%;
    font-size: 20px;
}

#formCPA{
    display: flex;
    margin:auto;
    width: 100%;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#chapterNr{
    text-align: center;
    width: 30px;
    margin-right: 5%;
    margin-left: 2%;
    background: #3A3B3C;
    border-radius: 10px;
    color: #E4E6EB;
    border:none;
    height: 2em;
}

#pageNr{
    text-align: center;
    width: 30px;
    margin-right: 5%;
    margin-left: 2%;
    background: #3A3B3C;
    color: #E4E6EB;
    border-radius: 10px;
    border:none;
    height: 2em;
}

#assignmentNr{
    text-align: center;
    width: 30px;
    margin-left: 2%;
    background: #3A3B3C;
    color: #E4E6EB;
    border-radius: 10px;
    border:none;
    height: 2em;
}

#descriptionForm{
    box-sizing: border-box;
    margin-top: 4%;
    background: #3A3B3C;
    resize: none;
    border:none;
    border-radius: 10px;
    padding: 2%;
    color: #E4E6EB;
    height: 8em;
    font-family: 'Lato', sans-serif;
    font-weight: 550;
}

#bottomForm{
    display: flex;
    height: 50px;
}

#cancelButton{
    background: #3A3B3C;
    border: none;
    color: #B8BBBF;
    font-weight: bold;
    width: 50%;
    border-right: solid;
    border-color: #E4E6EB;
    border-width: 1px;
}

#postButton{
    background: #3A3B3C; 
    border: none;
    color: #B8BBBF;
    font-weight: bold;
    width: 50%;
    border-left: solid;
    border-color: #E4E6EB;
    border-width: 1px;
}

#Post{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #E4E6EB;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 8%;
    width: 85%;
    background: #242526;
    font-family: 'Lato', sans-serif;
    border-spacing: 50px;
    border-radius: 10px;
    overflow: hidden;
}

#PostTitle{
    word-wrap: break-word;
    color:#E4E6EB;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin: auto;
    width: 91%;
    margin-bottom: 5%;
    margin-top: 5%;
}

#CPA{
    font-size: 15px;
    border-bottom: 2px solid #9F9D9D;
    margin: auto;
    width: 90%;
    border-radius: 3%;
    margin-bottom: 5%;
    padding-bottom: 2%;
}

#problemDescription{
    margin:auto;
    width: 90%;
    color: #E4E6EB;
    margin-bottom: 2%;
    margin-top: 5%;
    
}

#PostDescription{
    word-wrap: break-word;
    margin: auto;
    width: 88%;
    color: #969696;
    margin-bottom: 3%;
    background: #18191A;
    border-radius: 5px;
    padding: 2%;
    min-height: 100%;
}

#actionBar{
    display: flex;
    background: #323334;
    margin: auto;
    width: 100%;
    height: 6vh;
}


.bell{
    display: flex;
    width: 50px;
    justify-content: center;
    padding: 2%;
}

.heart{
    display: flex;
    justify-content: center;
    padding: 2%;
    width: 50px;
}

.arrow{
    display: flex;
    justify-content:  center;
    width: 50px;
    padding: 4%;
    margin-left: auto;
}

.comments{
    display: none;
    flex-direction: column;
    row-gap: 15px;
}

.line{
    width: 90%;
    height: 2px;
    background-color: #8D8C8C;
    border-style: none;
    border-radius: 2px;
}

.commentButton{
    display: inline-flex;
    transform: rotate(45deg);
    width: 35px;
    height: 35px;
    border-radius: 10px;
    border-style: none;
    background-color: #3BBC86;
    color: #FFFFFF;
    line-height: 36px;
    font-size: 20px;
    margin: 7%;
    margin-top: 2%;
    margin-left: 83%;
}

.innerCommentButton{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    font-weight: 700;
}

.avatarImage{
    width: 30px;
    height: 30px;
}

.commentWriterDiv{
    display: flex;
    flex-direction: row;
    height: 35px;
    width: 90%;
    margin: auto;
}

.commentTextArea{
    box-sizing: border-box;
    background: #242526;
    border-radius: 10px;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    height: 3em;
    padding: 2%;
    resize: none;
    color: #E4E6EB;
    font-family: 'Lato', sans-serif;
}

.commentThread {
    display: flex;
    flex-direction: column;
    background: #323334;
    border-radius: 10px;
    width: 90%;
    margin: auto;

}

.commentCase{
    display: flex;
    flex-direction: row;
    color: #969696;
    font-family: 'Lato', sans-serif;
    width: 100%;
}

.theCommentDiv{
    word-wrap: break-word;
    background: #18191A;
    color: #E4E6EB;
    border-radius: 10px;
    width: 80%;
    box-sizing: border-box;
    padding: 2%;
    margin: 2%;
}

.commentAvatar{
    display: flex;
    box-sizing: border-box;
    height: 40px;
    padding: 2%;
}

::placeholder{
    font-family: 'Lato', sans-serif;
}